<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <title>Contact Zach</title>
</head>

<body class="p-3 mb-2 bg-dark text-light">
  <div class="jumbotron bg-secondary">
    <h1 class="title">
      Contact Me
    </h1>
    <hr class="my-4">
    <p>Please fill in the boxes below and I'll get back to you promptly. -Zach</p>
    <form action="/thanks" method="POST">
      <label for="firstName">First Name:</label>
      <input id="firstName" name="firstName" type="text">

      <br /><br />

      <label for="lastName">Last Name:</label>
      <input id="lastName" name="lastName" type="text">

      <br /><br />

      <label for="email">Email:</label>
      <input id="email" name="email" type="text">

      <br /><br />
      
      <label for="textarea">Message:</label>
      <textarea id="textarea" name="textarea" type="text"></textarea>

      <br /><br />
      <input class="btn btn-outline-warning" type="submit" />
    </form>
  </div>
</body>

</html>