<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <title>Zach Thanks You</title>
</head>

<body class="p-3 mb-2 bg-dark text-light">
  <div class="jumbotron bg-secondary">
    <h1 class="title">
      Thank you <%= contact.firstName %> <%= contact.lastName %>!
    </h1>
  </div>
  <br /><br />
  <a href="http://localhost:8080/" class="btn btn-outline-warning">Return to Zach's Portfolio</a>
</body>

</html>